body {
    color: black;
    margin: 10mm auto;
    padding: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.header,
.footer {
    width: 100%;
    text-align: left;
}

.header {
    top: 0;
    height: 150px;
}

.footer {
    bottom: 0;
    height: 100px;
}

.company-logo {
    max-width: 25%;
    /* Adjust to your preferred width */
    max-height: 430px;
    /* Adjust as needed */
    order: 2;
    /* Set the order to 2 to move it to the right in the flex container */
    position: absolute;
    top: 30px;
    /* Adjust to your requirement */
    right: 5px;
    /* Adjust to your requirement */
}

.company-name {
    font-family: Montserrat, sans-serif;
    font-size: 40px;
    color: green;
    font-weight: bold;
    top: 0;
}

.company-address {
    font-size: 17px;
    color: black;
    margin-top: 5px;
    /* Adjust margin as needed */
}

.contact-info {
    font-size: 17px;
    color: black;
    margin-top: 5px;
    /* Adjust margin as needed */
    margin-bottom: 20px;
    /* Adjust the margin-bottom to create space */
}
.line-before {
    border-top: 1px solid #000;
    margin: 5px 0;
}

.line-after {
    border-top: 1px solid #000;
    margin: 5px 0;
}
.scope-of-work {
    text-decoration: bold;
}
.content {
    padding-top: 200px;
    padding-bottom: 110px;
    padding-left: 40px; /* Added left padding */
    padding-right: 40px; /* Added right padding */
    text-align: justify; /* Justify text */
}

.footer .company-logo {
    display: none;
}
.footer .company-name {
    display: none;
}

.footer .contact-info {
    display: none;
}

.footer .company-address {
    display: none;
}
#clientCode {
    font-size: 17px; /* Adjust font size as needed */
    color: black;
    margin-top: 10px; /* Adjust margin-top to create space */
    text-align: left;
    left: 20px;
}
#woNumber {
    font-size: 17px; /* Adjust font size as needed */
    color: black;
    margin-top: 10px; /* Adjust margin-top to create space */
    text-align: left;
}
#propertyAddress {
    font-size: 17px; /* Adjust font size as needed */
    color: black;
    margin-top: 10px; /* Adjust margin-top to create space */
    text-align: left;
}

@media print {
    body {
        margin: 0;
        padding: 0;
        color: black;
    }

    .header,
    .footer {
        width: 100%;
        text-align: left;
        position: fixed;
    }

    .header {
        top: 0;
        height: 150px;
    }

    .footer {
        bottom: 0;
        height: 100px;
    }
    .company-logo {
        max-width: 25%;
        /* Adjust to your preferred width */
        max-height: 430px;
        /* Adjust as needed */
        order: 2;
        /* Set the order to 2 to move it to the right in the flex container */
        position: absolute;
        top: 10px;
        /* Adjust to your requirement */
        right: 5px;
        /* Adjust to your requirement */
    }

    .company-name {
        font-family: Montserrat, sans-serif;
        font-size: 40px;
        color: green;
        font-weight: bold;
    }

    .company-address {
        font-size: 17px;
        color: black;
        margin-top: 5px;
        /* Adjust margin as needed */
    }

    .contact-info {
        font-size: 17px;
        color: black;
        margin-top: 5px;
        /* Adjust margin as needed */
        margin-bottom: 20px;
        /* Adjust the margin-bottom to create space */
    }
    .line-before {
        border-top: 1px solid #000;
        margin: 5px 0;
    }

    .line-after {
        border-top: 1px solid #000;
        margin: 5px 0;
    }
    .scope-of-work {
        text-decoration: bold;
    }
    .content {
        padding-top: 330px;
        padding-bottom: 110px;
        font-size: 20px; /* Updated font size */
        padding-left: 40px; /* Added left padding */
        padding-right: 40px; /* Added right padding */
        text-align: justify; /* Justify text */
    }

    .page-break {
        page-break-before: always;
        margin-top: 360px;
    }

    .no-print {
        display: none;
    }

    #clientCode {
        display: none;
    }
    #woNumber {
        font-size: 17px; /* Adjust font size as needed */
        color: black;
        margin-top: 10px; /* Adjust margin-top to create space */
        text-align: left;
    }
    #propertyAddress {
        font-size: 17px; /* Adjust font size as needed */
        color: black;
        margin-top: 10px; /* Adjust margin-top to create space */
        text-align: left;
    }

    .footer .company-logo {
        display: none;
    }
    .footer .company-name {
        display: none;
    }

    .footer .contact-info {
        display: none;
    }

    .footer .company-address {
        display: none;
    }
}
